#stadium {
    background-color: #ffffff;
    position: relative;
    padding: 10px 10px 10px 14px;
    width: 960px;
    overflow: visible;
}
#sponsor-popover {
    display: block;
    visibility: hidden;
    min-width: 220px;
    border-radius: 0;
}
#sponsor-popover img {
    max-width: 200px;
}

.field-legend {
    font-weight: 600;
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}
.field-legend img {
    vertical-align: top;
    margin-right: 4px;
}
.field-legend span {
    margin-left: 14px;
    display: inline-block;
}

.pitch {
    width: 873px;
    height: 585px;
    margin: 0 auto;
}
.pitch-row {
    width: 873px;
    height: 9px;
}
.field {
    float: left;
    width: 18px;
    height: 18px;
    outline: 1px solid #2c5221;
    cursor: pointer;
    background-color: #305a24;
}
.field.first {
    clear: both;
}
.field.area-1 {
    background-color: #366528;
}
.field.area-2 {
    background-color: #ca6b19;
}
.field.area-2.sold {
    background-color: #fe9458;
}
.field.area-3 {
    background-color: #b2a30c;
}
.field.area-3.sold {
    background-color: #feeb0f;
}

.field.sold {
    background-color: #57a340;
}

.field.sold:hover,
.field.sold.hovered {
    background-color: #ea0a2f;
}

.field:hover {
    background-color: #333;
}

@media all and (max-width: 992px) {
    #stadium {
        width: 712px;
    }
    .field {
        width: 14px;
        height: 14px;
    }
    .pitch {
        width: 680px;
        height: 455px;
    }
    #stadium-loader {
        min-height: 455px;
    }
    .pitch-row {
        width: 680px;
        height: 7px;
    }
}


